@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

table, td, th {
  border-collapse: collapse; }

fieldset {
  border: none; }

input, a, button {
  outline: 1; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

body {
  background: #fff; }
  body header {
    width: 90%;
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 4vh;
    left: 5%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0.7; }
    body header h1 {
      font: bold 20px/1  'Montserrat', sans-serif;
      color: #222;
      margin: 0px 3vw; }
      body header h1 a {
        color: #222; }
    body header nav #gnb {
      display: flex; }
      body header nav #gnb li {
        position: relative;
        margin: 0px 3vw; }
        body header nav #gnb li a {
          font: bold 16px/1  'Montserrat', sans-serif;
          color: #222; }
          body header nav #gnb li a::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0px;
            width: 0%;
            height: 0px;
            background: #777;
            opacity: 0;
            transition: 0.5s; }
          body header nav #gnb li a:hover::before {
            width: 100%;
            height: 1px;
            opacity: 1; }
  body figure {
    width: 100%;
    height: 700px;
    background: url(../img/bg2.jpg) no-repeat center/cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
    body figure .inner {
      width: 350px;
      height: 200px;
      background: #fff;
      opacity: 0.8;
      text-align: center;
      position: relative; }
      body figure .inner .box {
        width: 335px;
        height: 185px;
        border: 1px solid #444;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 55px 0px; }
        body figure .inner .box h1 {
          font: bold 25px/1  'Montserrat', sans-serif;
          position: relative;
          margin-bottom: 35px; }
          body figure .inner .box h1::after {
            content: "";
            display: block;
            width: 50px;
            height: 1px;
            background: #555;
            position: absolute;
            bottom: 0px;
            left: 50%;
            margin: -15px auto;
            transform: translateX(-50%); }
        body figure .inner .box p {
          font: bold 14px/1  'Montserrat', sans-serif;
          color: #555; }
  body section {
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
    /* isotope layout */ }
    body section.on {
      opacity: 1;
      transform: translateY(0px); }
    body section .filter {
      box-sizing: border-box;
      padding: 10px;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%); }
      body section .filter::after {
        content: "";
        display: block;
        clear: both; }
      body section .filter li {
        float: left;
        margin-right: 40px;
        text-align: center; }
        body section .filter li:last-child {
          margin-right: 0px; }
        body section .filter li a {
          display: block;
          font: bold 16px/1 'Montserrat', sans-serif;
          color: #555;
          text-align: center;
          position: relative; }
          body section .filter li a::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 3px;
            left: -3px;
            width: 115%;
            height: 38%;
            background: #8fd1ce7a;
            transform: skewX(-20deg);
            opacity: 0;
            transition: 0.5s; }
          body section .filter li a.on {
            color: #000; }
            body section .filter li a.on::before {
              opacity: 1;
              font-weight: bold; }
    body section .wrap {
      width: 100%;
      box-sizing: border-box;
      margin-top: 40px; }
      body section .wrap::after {
        content: "";
        display: block;
        clear: both; }
      body section .wrap article {
        width: calc(100% / 5);
        float: left;
        box-sizing: border-box;
        padding: 10px;
        position: relative; }
        body section .wrap article .inner {
          width: 100%;
          height: 100%;
          position: relative;
          transition: 0.5s; }
          body section .wrap article .inner img {
            width: 100%; }
          body section .wrap article .inner p {
            position: absolute;
            bottom: 20%;
            left: 0px;
            font: bold 14px/1.5  'Montserrat', sans-serif;
            color: #fff;
            padding: 0px 20px;
            opacity: 0;
            transition: 0.5s;
            z-index: 2; }
          body section .wrap article .inner::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background: linear-gradient(to top, #56f1e9d0, transparent);
            opacity: 0;
            transition: 0.5s;
            z-index: 1; }
          body section .wrap article .inner:hover::after, body section .wrap article .inner:hover p {
            opacity: 1; }

@media screen and (max-width: 1599px) {
  body section .wrap {
    width: 100%; }
    body section .wrap article {
      width: calc(100% / 4); } }
@media screen and (max-width: 899px) {
  body section .wrap {
    width: 100%; }
    body section .wrap article {
      width: calc(100% / 3); } }
@media screen and (max-width: 679px) {
  body figure {
    width: 100%;
    height: 600px; }
    body figure .inner {
      width: 55%;
      height: 25vh; }
      body figure .inner .box {
        width: 96.5%;
        height: 95%; }
        body figure .inner .box h1 {
          font: bold 23px/1  'Montserrat', sans-serif; }
        body figure .inner .box p {
          font: bold 12px/1  'Montserrat', sans-serif; }
  body section {
    padding: 20px; }
    body section .filter li {
      margin-right: 20px; }
    body section .wrap {
      width: 100%; }
      body section .wrap article {
        width: calc(100% / 2); } }
@media screen and (max-width: 539px) {
  body header h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
  body header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    body header nav #gnb li {
      position: relative;
      margin-right: 2vw; }
      body header nav #gnb li:last-child {
        margin-right: 0vw; }
  body figure {
    width: 100%;
    height: 600px;
    margin-bottom: 40px; }
    body figure .inner {
      width: 65%;
      height: 23vh; }
      body figure .inner .box {
        width: 96.5%;
        height: 95%;
        padding: 46px 0px; }
        body figure .inner .box h1 {
          font: bold 18px/1  'Montserrat', sans-serif;
          margin-bottom: 33px; }
          body figure .inner .box h1::after {
            width: 35px;
            margin: -14.5px auto; }
        body figure .inner .box p {
          font: bold 10px/1  'Montserrat', sans-serif; }
  body section .filter {
    padding: 0px; }
    body section .filter li {
      margin-right: 15px; }
      body section .filter li a {
        font: bold 12px/1 'Montserrat', sans-serif; }
  body section .wrap {
    width: 100%;
    margin-top: 10px; }
    body section .wrap article {
      width: calc(100% / 1); } }

/*# sourceMappingURL=style.css.map */
